.slick-dots li.slick-active button:before {
      opacity: 0 !important;
      color: none !important;
  }
  .slick-dots li button:hover:before, 
  .slick-dots li button:focus:before,
  .slick-dots li button:active:before 
  {
      opacity: 0;
  }

  .slick-dots li button:before {
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      opacity: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }